-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'LEADER', 'CONSULTANT');

-- CreateTable
CREATE TABLE "Tenant" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "cnpj" TEXT,
    "slug" TEXT NOT NULL,
    "city" TEXT,
    "state" TEXT,
    "size" TEXT,
    "owner" TEXT,
    "internalResponsible" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PREPARATION',
    "projectStage" TEXT,
    "consultantId" TEXT,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "operationalSystem" TEXT,
    "accountingSystem" TEXT,
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tenant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "role" "Role" NOT NULL DEFAULT 'CONSULTANT',
    "tenantId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "startDate" TIMESTAMP(3),
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OperationalFront" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OperationalFront_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subdivision" (
    "id" TEXT NOT NULL,
    "frontId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "leaderId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "observations" TEXT,

    CONSTRAINT "Subdivision_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Employee" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "role" TEXT NOT NULL,
    "grossSalary" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmployeeAllocation" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "frontId" TEXT NOT NULL,
    "subdivisionId" TEXT,
    "leaderId" TEXT,
    "dailyAvailableTime" DOUBLE PRECISION,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "observations" TEXT,

    CONSTRAINT "EmployeeAllocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Client" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "tradeName" TEXT,
    "cnpj" TEXT,
    "city" TEXT,
    "state" TEXT,
    "taxRegime" TEXT,
    "segment" TEXT,
    "revenueBracket" TEXT,
    "hasEconomicGroup" BOOLEAN NOT NULL DEFAULT false,
    "economicGroupName" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "contactName" TEXT,
    "address" TEXT,
    "neighborhood" TEXT,
    "zipCode" TEXT,
    "ie" TEXT,
    "im" TEXT,
    "cnae" TEXT,
    "foundationDate" TIMESTAMP(3),
    "certificateExpiration" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "monthlyFee" DOUBLE PRECISION,
    "classification" TEXT,
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Client_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientFrontClassification" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "frontId" TEXT NOT NULL,
    "actsInFront" TEXT NOT NULL,
    "leaderId" TEXT,
    "operator1Id" TEXT,
    "operator2Id" TEXT,
    "frequency" TEXT,
    "complexity" INTEGER,
    "particulars" TEXT,

    CONSTRAINT "ClientFrontClassification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientTaxInfo" (
    "id" TEXT NOT NULL,
    "classificationId" TEXT NOT NULL,
    "monthlyNotesVolume" TEXT,
    "outNotesVolume" TEXT,
    "inNotesVolume" TEXT,
    "automationLevel" TEXT,
    "hasSpecialRegime" BOOLEAN NOT NULL DEFAULT false,
    "specialRegimeDescription" TEXT,
    "inNfeMethods" TEXT,
    "outNfeMethods" TEXT,
    "nfseMethods" TEXT,
    "sendingChannels" TEXT,
    "fiscalSystem" TEXT,
    "notesPlatform" TEXT,
    "meetsDeadlines" TEXT,
    "particulars" TEXT,

    CONSTRAINT "ClientTaxInfo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientHrInfo" (
    "id" TEXT NOT NULL,
    "classificationId" TEXT NOT NULL,
    "employeesCount" INTEGER,
    "prolaboreCount" INTEGER,
    "domesticsCount" INTEGER,
    "pointReceiptMethod" TEXT,
    "variablesLaunchMethod" TEXT,
    "processingType" TEXT,
    "sheetSendingMethod" TEXT,
    "frequentAdmissions" BOOLEAN NOT NULL DEFAULT false,
    "particulars" TEXT,

    CONSTRAINT "ClientHrInfo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientAccountingInfo" (
    "id" TEXT NOT NULL,
    "classificationId" TEXT NOT NULL,
    "bookkeepingRegime" TEXT,
    "lastClosingMonth" TEXT,
    "closingPeriod" TEXT,
    "infoReceiptFrequency" TEXT,
    "infoReceiptMethod" TEXT,
    "integrationLevel" TEXT,
    "trialBalanceNeed" TEXT,
    "launchesVolume" TEXT,
    "particulars" TEXT,

    CONSTRAINT "ClientAccountingInfo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Delivery" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "frontId" TEXT NOT NULL,
    "subdivisionId" TEXT,
    "competence" TEXT NOT NULL,
    "originalName" TEXT NOT NULL,
    "standardizedName" TEXT NOT NULL,
    "deliveryClass" TEXT,
    "deliveryGroup" TEXT,
    "deliveryType" TEXT,
    "periodicity" TEXT,
    "responsibleId" TEXT NOT NULL,
    "leaderId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PREVISTA',
    "legalDeadline" TIMESTAMP(3),
    "internalDeadline" TIMESTAMP(3),
    "executionDeadline" TIMESTAMP(3),
    "observations" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Delivery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TimeReview" (
    "id" TEXT NOT NULL,
    "deliveryId" TEXT NOT NULL,
    "responsibleId" TEXT,
    "currentEstimatedTime" INTEGER,
    "newEstimatedTime" INTEGER,
    "validFrom" TIMESTAMP(3),
    "changeType" TEXT,
    "reason" TEXT,
    "context" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TimeReview_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'INFO',
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "link" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationPreference" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "inAppAlerts" BOOLEAN NOT NULL DEFAULT true,
    "emailAlerts" BOOLEAN NOT NULL DEFAULT true,
    "dailyDigest" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "NotificationPreference_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_cnpj_key" ON "Tenant"("cnpj");

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_slug_key" ON "Tenant"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Client_cnpj_key" ON "Client"("cnpj");

-- CreateIndex
CREATE UNIQUE INDEX "ClientFrontClassification_clientId_frontId_key" ON "ClientFrontClassification"("clientId", "frontId");

-- CreateIndex
CREATE UNIQUE INDEX "ClientTaxInfo_classificationId_key" ON "ClientTaxInfo"("classificationId");

-- CreateIndex
CREATE UNIQUE INDEX "ClientHrInfo_classificationId_key" ON "ClientHrInfo"("classificationId");

-- CreateIndex
CREATE UNIQUE INDEX "ClientAccountingInfo_classificationId_key" ON "ClientAccountingInfo"("classificationId");

-- CreateIndex
CREATE UNIQUE INDEX "NotificationPreference_userId_key" ON "NotificationPreference"("userId");

-- AddForeignKey
ALTER TABLE "Tenant" ADD CONSTRAINT "Tenant_consultantId_fkey" FOREIGN KEY ("consultantId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subdivision" ADD CONSTRAINT "Subdivision_frontId_fkey" FOREIGN KEY ("frontId") REFERENCES "OperationalFront"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subdivision" ADD CONSTRAINT "Subdivision_leaderId_fkey" FOREIGN KEY ("leaderId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeAllocation" ADD CONSTRAINT "EmployeeAllocation_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeAllocation" ADD CONSTRAINT "EmployeeAllocation_frontId_fkey" FOREIGN KEY ("frontId") REFERENCES "OperationalFront"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeAllocation" ADD CONSTRAINT "EmployeeAllocation_subdivisionId_fkey" FOREIGN KEY ("subdivisionId") REFERENCES "Subdivision"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeAllocation" ADD CONSTRAINT "EmployeeAllocation_leaderId_fkey" FOREIGN KEY ("leaderId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientFrontClassification" ADD CONSTRAINT "ClientFrontClassification_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientFrontClassification" ADD CONSTRAINT "ClientFrontClassification_frontId_fkey" FOREIGN KEY ("frontId") REFERENCES "OperationalFront"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientFrontClassification" ADD CONSTRAINT "ClientFrontClassification_leaderId_fkey" FOREIGN KEY ("leaderId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientFrontClassification" ADD CONSTRAINT "ClientFrontClassification_operator1Id_fkey" FOREIGN KEY ("operator1Id") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientFrontClassification" ADD CONSTRAINT "ClientFrontClassification_operator2Id_fkey" FOREIGN KEY ("operator2Id") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientTaxInfo" ADD CONSTRAINT "ClientTaxInfo_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES "ClientFrontClassification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientHrInfo" ADD CONSTRAINT "ClientHrInfo_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES "ClientFrontClassification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientAccountingInfo" ADD CONSTRAINT "ClientAccountingInfo_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES "ClientFrontClassification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_frontId_fkey" FOREIGN KEY ("frontId") REFERENCES "OperationalFront"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_subdivisionId_fkey" FOREIGN KEY ("subdivisionId") REFERENCES "Subdivision"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_responsibleId_fkey" FOREIGN KEY ("responsibleId") REFERENCES "Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_leaderId_fkey" FOREIGN KEY ("leaderId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeReview" ADD CONSTRAINT "TimeReview_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES "Delivery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeReview" ADD CONSTRAINT "TimeReview_responsibleId_fkey" FOREIGN KEY ("responsibleId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotificationPreference" ADD CONSTRAINT "NotificationPreference_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

